<div class="mb5">
  <h2 class="font-terminal f2 ma0">Root Endpoint</h2>
  <p>The root endpoint should prefix all resources and is only accessible over HTTPS.</p>
  <%= code('shell') do %>https://punkapi.com/api/v1<% end %>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Authentication</h2>
  <p>To access the API you need to authenticate with an API key in each request, this is done using HTTP Basic Auth. Provide your API key as the basic auth username value. You do not need to provide a password.</p>

  <%= code('shell') do %>$ curl https://punkapi.com/api/v1/beers -u api-key-goes-here:<% end %>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Parameters</h2>
  <p>All parameters are optional and without them the API will just return the beers in ascending order from their first brewed date. Paramaters are passed in as query string parameters and can be chained together.</p>

  <%= code('shell') do %>$ curl https://punkapi.com/api/v1/beers?brewed_before=11-2012&abv_gt=6 \
       -u api-key-goes-here:<% end %>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Pagination</h2>
  <p>Requests that return multiple items will be limited to 25 results by default. You can access other pages using the ?page paramater, you can also increase the amount of beers returned in each request by changing the ?per_page paramater.</p>
  <p>All requests return a Link header that contains the links to the next page, previous page if available and the first and last page of results.</p>

  <%= code('shell') do %>$ curl https://punkapi.com/api/v1/beers?page=2&per_page=80 \
       -u api-key-goes-here:<% end %>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Rate Limits</h2>
  <p>To make sure everyone can access the API reliably, each email address has a rate limit of 1000 requests per hour.</p>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Get Beers</h2>

  <p>Gets beers from the api, you can apply several filters using url paramaters, the available options are listed below.</p>

  <%= code('shell') do %>$ curl https://punkapi.com/api/v1/beers -u api-key-goes-here:<% end %>

  <%= render partial: 'param_table' %>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Get a Single Beer</h2>

  <p>Gets a beer from the api using the beers id.</p>

  <%= code('shell') do %>$ curl https://punkapi.com/api/v1/beers/1 -u api-key-goes-here:<% end %>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Get Random Beer</h2>
  <p>Gets a random beer from the API, this takes no paramaters.</p>
  <%= code('shell') do %>$ curl https://punkapi.com/api/v1/beers/random -u api-key-goes-here:<% end %>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Example Response</h2>
  <p>All beer endpoints return a json array with a number of beer objects inside.</p>

  <%= code('ruby') do %>[
  {
    "id": 169,
    "name": "Punk IPA 2007 - 2010",
    "tagline": "Post Modern Classic. Spiky. Tropical. Hoppy.",
    "first_brewed": "April 2007",
    "description": "Our flagship beer that kick started the craft beer revolution. This is James and Martin's original take on an American IPA, subverted with punchy New Zealand hops. Layered with new world hops to create an all-out riot of grapefruit, pineapple and lychee before a spiky, mouth-puckering bitter finish.",
    "abv": 6.0,
    "ibu": 60.0,
    "target_fg": 1010.0,
    "target_og": 1056.0,
    "ebc": 17.0,
    "srm": 8.5,
    "ph": 4.4,
    "attenuation_level": 82.14,
    "volume": {
      "value": 20,
      "unit": "liters"
    },
    "boil_volume": {
      "value": 25,
      "unit": "liters"
    },
    "method": {
      "mash_temp": [
        {
          "temp": {
            "value": 65,
            "unit": "celsius"
          },
          "duration": 75
        }
      ],
      "fermentation": {
        "temp": {
          "value": 19.0,
          "unit": "celsius"
        }
      },
      "twist": null
    },
    "ingredients": {
      "malt": [
        {
          "name": "Extra Pale",
          "amount": {
            "value": 5.3,
            "unit": "kilograms"
          }
        }
      ],
      "hops": [
        {
          "name": "Ahtanum",
          "amount": {
            "value": 17.5,
            "unit": "grams"
           },
           "add": "start",
           "attribute": "bitter"
         },
         {
           "name": "Chinook",
           "amount": {
             "value": 15,
             "unit": "grams"
           },
           "add": "start",
           "attribute": "bitter"
         },
         ...
      ],
      "yeast": "Wyeast 1056 - American Ale™"
    },
    "food_pairing": [
      "Spicy carne asada with a pico de gallo sauce",
      "Shredded chicken tacos with a mango chilli lime salsa",
      "Cheesecake with a passion fruit swirl sauce"
    ],
    "brewers_tips": "While it may surprise you, this version of Punk IPA isn't dry hopped but still packs a punch! To make the best of the aroma hops make sure they are fully submerged and add them just before knock out for an intense hop hit.",
    "contributed_by": "Sam Mason \u003csamjbmason\u003e"
  }
]<% end %>

</div>
