<div class="mb5">
  <p>Have you ever wanted to search through Brewdog's expansive back catalogue of beer in a programmatic way? Maybe build a tool that pairs beer with food, or search beers with an abv of more than 4%? Well now your prayers have been answered!</p>
  <p>The PunkAPI takes Brewdog's DIY Dog and turns it into a searchable, filterable API that's completely free and open source.</p>
  <p>If you spot any mistakes with the data feel free to <a href="https://github.com/samjbmason/punkapi/issues">submit an issue</a>.</p>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">The Legal Stuff</h2>
  <p>The data in this API is taken directly from BrewDog’s DIY Dog and is therefore free to use, replicate verbatim and share, but cannot be used for commercial purposes. If you have an enquiry about DIY Dog, contact <a href="mailto:hello@brewdog.com">hello@brewdog.com</a>.</p>
</div>

<div class="mb5">
  <h2 class="font-terminal f2 mb0">Get Started</h2>
  <p>To get started sign up below to receive your API key and then head over to the <%= link_to 'documentation', documentation_path %> to see what endpoints are available.</p>

  <%= form_for @user, url: users_create_path, html: { class: 'new_user_signup cf mw6 center mt4' } do |f| %>
    <fieldset class="bn pa0 ma0 fl w-75">
      <%= f.label :email, class: 'dn' %>
      <%= f.email_field :email, class: 'ba b--dashed bw2 b--dark-gray pa2 h3 db w-100', placeholder: 'punks@api.com', required: true %>
    </fieldset>
    <%= f.submit 'Get API Key', class: 'ba b--dashed bw2 b--dark-gray font-terminal pa2 fr h3 w-25 dib', onclick: "_gs('event', 'Signed up');" %>
  <% end %>
  <p class="tc">We will never use your email to spam you!</p>
</div>
